{% load static %}
<html>
    <head>
        <title> Charming Lady beauty Center </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">    
    </head>
<!DOCTYPE html>
<html>
<head>
<style>
body  {
    background-image: url("{% static 'backg.jpg' %}");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
 
}
</style>
</head>
<body>
<!-- The navigation menu -->
<div class="navbar">
  <a class="active" href="/feedback">Home</a> 
  <a href="/services">services</a> 
  <a href="/gallery"">Gallary</a>
  <a href="/base">Blog</a>
  
  
  
</div> 
<h1>Charming Lady beauty Center</h1>


<p> Beauty Builds Confidence… and Confidence Amplifies Beauty</p>
<p class="b"> Beauty → Confidence → Success → Happiness! </p>
<p class="a">All women deserve to be appreciated, respected, and admired. When a woman improves her appearance, an amazing thing happens. </p><p class="a"> People begin to pay attention to her, listen to her, seek her company, ask her opinion. </p>
<p class="a">She becomes more confident, and this makes her look even better! As her confidence grows, so does the respect she receives – at work, at home, everywhere.</p> 
<p class="a">As her insecurity falls away, she becomes more daring, self-assured, courageous; she finds she can do anything. Her life improves in every way. </p>


</body>
</html>

</html>