{% load static %}
<html>
    <head>
        <title> Charming Lady beauty Center </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">    
    </head>

<body>

  <!-- The navigation menu -->
 <div class="navbar">
  <a class="active" href="/base">Home</a> 
  <a href="/services">services</a> 
  <a href="/gallery"">Gallary</a>
  <a href="/feedback">Blog</a>
 </div> 
<h1>Charming Lady beauty Center</h1>


<h1> Our services</h1>
<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
</style>
</head>
<body>

<h2>Don’t forget to love yourself.</h2>
<p>Our services </p>

<div class="row">
  <div class="column">
    <img src="{% static 'img7.jpg' %}"alt="servers" height="200" width="200" style="width:100%">
  </div>
  <div class="column">
    <img src="{% static 'img10.jpg' %}" alt="hair" height="200" width="200"style="width:100%">
  </div>
  <div class="column">
    <img src="{% static 'img9.jpg' %}" alt="nail" height="200" width="200" style="width:100%">
  </div>

</div>

</body>
</html>

<p class="b">1- Hair   </p>
<p class="a">I. Haircut ...15 kd<br>
II. Hairstyle ... start from 25 kd<br>
III.  Hair coloring ... start from 35 kd 

<p class="b">2- Makeup   </p>
<p class="a">I. Light makeup<br>
II. Heavy makeup<br>

<p class="b">3- Nail </p>
<p class="a">I.a. Pedicure ... 5 kd<br>
II. Manaker ... 5 kd <br>
III.Pravin ... 15 kd</body>

<p class="b">4-  Massage  </p>
<p class="a">I. 30 min ...15 kd<br>
II. one Hour ... 28 kd<br>


<p class="b">5- Treatment </p>
<p class="a">I.Hair mask .. 10 kd <br>
 II.Hair straightening ... start from 40 kd<br>
 III.Body moisturizing and scrubs ... 30 kd
</html>

</html>